*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #FDFDFD;
    
     
    
}
.collapse-item
{
    font-size: 14px;
}

a{
    text-decoration: none;
}
header{
    background-color: #1b1b1b;
}
#hdAs1, #hdAs2{
    padding: 10px 0;
}
#hdAs1 a{
    color: white;
    margin-right: 10px;
    font-size: 0.9em;
}
#hdAs2{ 
    text-align: right
}
#hdAs2 a{
    margin: 0 5px;
    color: white;
}
#hdAs2 a:hover{
    text-decoration: none;
}
#hdAs2 button.btn-sm{
    padding: 3px 7px;
    font-weight: bold;
    font-size: 0.8em;
    margin-left: 10px;
}

#topNav{
    border-bottom: thin solid #555555;
    background-color: rgb(242, 245, 247);
}
#hdLogo{
    max-height: 80px;
}
#nav-logo{
    padding: 5px 0;
}
#nav-logo section{
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    vertical-align: middle;
}
#pro{
    color: red;
    text-shadow: 1px 1px 1px #FDFDFD;
}
#nav-links{
    transition: all 1s linear;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
}
#menu_bar{
    text-align: right;
    margin: 0;
}
#menu_bar li{
    list-style-type: none;
    display: inline-block;
    padding: 0;
}
#menu_bar a{
    text-decoration: none;
    color:#1b1b1b;
    padding:35px 10px;
    display: inline-block;
    transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
}
#menu_bar a:hover{
    background-color: #1b1b1b;
    color: #FDFDFD;
}
#toggleBtn{
    float: right;
    font-size: 1.7rem;
    margin-top: 25px;
    border: thin solid #1b1b1b;
    padding: 2px 7px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

/* Index Slider */
#slideDiv{
    /* min-height: 450px; */
    background-image: url("../img/hdbg2.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#slideImgDiv{
    text-align: center;
}
#slideImg{
    max-height: 400px;
}
#slideCapDiv{
    color: #FDFDFD;
    text-shadow: 0 0 4px #1b1b1b;
    text-align: center;
    margin-top: 50px;
}
#slideCapDiv h1{
    font-weight: bold;
    text-align: center;
}

#cartDiv{
    position: fixed;
    font-weight: bold;
    font-size: 1.3rem;
    right: 0;
    top: 200px;
    background-color: red;
    color: #FDFDFD;
    padding: 5px 10px;
    text-decoration: none;
    z-index: 3000;
}
#cartDiv i.badge{
    background-color: #FDFDFD;
    color: #1b1b1b;
    font-weight: normal;
}

/* SEARCH DIV SECTION */
#searchDiv{
    background-color: lightgrey;
}
.imgSrch{
    max-width:100%;
}
.filterAs{
    margin: 10px auto;
    display: none;
}

/* CATEGORY SECTIONS [WITH BOOTSTRAP CARDS] */
#catDiv{
    padding: 30px 0;
}
.card-img-top{
    max-height: 200px;
}

/* PRODUCT STYLE */
.proCol{
    margin: 10px 0;
}

.detailanchor{
    text-decoration: none;
    color:black;
}
.detailanchor:hover{
    text-decoration: none;
    color:black;
}

@media(max-width:460px){
    #hdAs1 strong{
        display: none;
    }
    #menu_bar li, #menu_bar li a{
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
    }
    #menu_bar, #nav-links{
        padding: 0;
    }

    button span#srcText{
        display: none !important;
    }

}

@media(min-width:576px) and (max-width:992px){
    div.container, div.row{
        min-width: 100% !important;
    }
}

@media(max-width:767px){
    #toggleBtn{
        display: block !important;
    }
    #nav-links{
        background-color: #1b1b1b;
        display: none;
    }
    #menu_bar a{
        color: #FDFDFD;
        padding:10px;
    }
    #menu_bar li:hover a{
        background-color: rgba(242, 245, 247, 0.767);
        color: #1b1b1b;
    }
    .openNav{
        display: block !important;
    }
}

